<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <div class="container">
            <main>
                <% include ../partials/errors %>
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-4 well">
                            <h3><%= poll.question %></h3>
                            <form id="vote-form" action="/poll" method="POST">
                                <input type="hidden" name="pollId" value="<%= poll.id %>">
                                <div class="form-group">
                                    <% for (var i=0; i < poll.choices.length; i++) { %>
                                        <div class="radio">
                                            <label><input type="radio" name="optionIdx" value="<%= i %>"><%= poll.choices[i].option %></label>
                                        </div>
                                    <% } %>
                                </div>
                            </form>
                            <% if (user) { %>
                                <form action="/poll/add" method="POST" id="add-form">
                                    <input type="hidden" name="pollId" value="<%= poll.id %>">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="option" autocomplete="off" placeholder="Add your custom option..." class="form-control" id="input-option">
                                            <span class="input-group-addon" id="add-option">
                                                <i class="glyphicon glyphicon-plus-sign"></i>
                                                <input type="submit" value="" class="btn-add-option">
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            <% } %>
                            <div class="form-group">
                                <button type="submit" form="vote-form" class="btn btn-primary btn-block">
                                    Vote!
                                </button>
                            </div>
                            <div class="form-group">
                                <a href="https://twitter.com/home?status=<%= encodeURIComponent(poll.question) %>%20-%20answer%20at:%20https%3A//codefiasco-polls.herokuapp.com/poll/<%= poll.id %>" class="btn btn-twitter btn-block">
                                    <i class="glyphicon glyphicon-share"></i>
                                    <span>Share on Twitter</span>
                                </a>
                            </div>
                            <% if (user && poll.authorId == user.id) { %>
                                <form action="/poll/delete" method="POST">
                                    <input type="hidden" name="pollId" value="<%= poll.id %>">
                                    <div class="form-group">
                                        <input type="submit" value="Close Poll" class="btn btn-danger btn-block">
                                    </div>
                                </form>
                            <% } %>
                        </div>
                        <div class="col-md-5 col-md-offset-2">
                            <canvas id="poll-chart" width="300" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
    <script>
        $(document).ready(function () {
            var ctx = $('#poll-chart');
            var optionArray = [];
            var votesArray = [];

            <% for (var i=0; i < poll.choices.length; i++) { %>
                optionArray.push('<%= poll.choices[i].option %>');
                votesArray.push(<%= poll.choices[i].votes %>);
            <% } %>

            myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: optionArray,
                    datasets: [{
                        label: '# of Votes',
                        data: votesArray,
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                            <% if (poll.choices.length > 6) { %>
                                ,
                                <% for (var i=6; i < poll.choices.length; i++) { %>
                                    '<%= 'rgba(' + Math.round(Math.random() * (255)) + ', ' + Math.round(Math.random() * (255)) + ', ' + Math.round(Math.random() * (255)) + ', 1)'  %>'
                                    <% if (i != poll.choices.length - 1) { %>
                                        ,
                                    <% } %>
                                <% } %>
                            <% } %>
                        ],
                        borderWidth: 0
                    }]
                }
            });
        });
    </script>
</html>